@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a4a4a;
}

.container {
    font-family: 'Press Start 2P';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h2 {
    color: #fff;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #b9b9b9,
               0 4px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}


h3, h4, h5, h6 {
    color: #fff;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #bbb,
               0 3px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

input[type="text"] {
    width: 200px;
    margin-right: 20px;
    vertical-align: middle;
}

input:focus {
    outline: none; 
}

button, input {
    height: 40px;
}

.message {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nes-input{
    background-clip: border-box !important;
}

.nes-progress {
    width: 328px;
}

/* IDK */
progress::-webkit-progress-bar {
    border-radius: 1px;
}

/* IDK */
progress::-webkit-progress-value {
    border-radius: 1px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 15px;
    margin-bottom: 10px;
}
  
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    height: 100px;
    width: 100px;
    margin: 0;
}
  
.result {
    text-align: center;
}

.result .nes-btn {
    margin: 15px;
    margin-top: 20px;
}

.nes-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
}

.dialog-menu {
    display: flex;
    gap: 16px;
}

.knobhead {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-right: 2.5px;
}